*{margin:0;padding:0;}
li{list-style:none;}
.l{float:left;}
.r{float:right;}
.clearfix{
	content:'';
	display:block;
	clear:both;
	}
.clearfix{zoom:1;}
body{font-family:Aritl,'微软雅黑';font-size:14px;}
a{text-decoration:none;color:#666;}
.top{
	width:1000px;
	height:410px;
	margin:0 auto;
	position:relative;
	background:url('../images/bg.png') no-repeat;
	}
.a1{
	width:220px;
	height:28px;
	padding-left:9px;
	line-height:28px;
	position:absolute;
	top:10px;
	left:310px;
	border:1px solid rgba(201,189,199,0.3);
	border-right:none;
	font-size:12px;
	background:rgba(0,0,0,0.2);
	color:#fff;
	outline:none;
	border-radius:0.8px;
	}
.a2{
	position:absolute;
	left:540px;
	top:10px;
	}
.a3{
	width:390px;
	height:30px;
	margin-top:10px;
	position:relative;
	}
.a3 a{color:#fff;font-size:11px;}
.uu{padding-left:14px;}
.nn{padding:0 10px;}
.mm{padding-left:16px;}
.kk{padding-left:23px;}
.cc{padding-left:12px;}
.ico1{
	width:14px;
	height:11px;
	background:url(../images/ico-2.png) no-repeat;
	position:absolute;
	left:137px;
	top:5px;
	}
.ico2{
	width:7px;
	height:7px;
	background:url(../images/ico-3.png) no-repeat;
	left:177px;
	top:-1px;
	position:absolute;
	}
.ico3{
	width:10px;
	height:5px;
	background:url(../images/ico-4.png) no-repeat;
	position:absolute;
	left:182px;
	top:8px;
	}
.ico4{
	width:7px;
	height:7px;
	background:url(../images/ico-3.png) no-repeat;
	left:227px;
	top:-1px;
	position:absolute;
	}
.ico5{
	width:10px;
	height:5px;
	background:url(../images/ico-4.png) no-repeat;
	position:absolute;
	left:264px;
	top:8px;
	}
.ico6{
	width:10px;
	height:5px;
	background:url(../images/ico-4.png) no-repeat;
	position:absolute;
	left:335px;
	top:8px;
	}
.a4{
	width:247px;
	height:371px;
	background:url(../images/sbg.png) no-repeat;
	position:absolute;
	right:10px;
	bottom:7px;
	}
.a4-1{position:absolute;right:18px;bottom:13px;}
.a4-1 li{
	width:202px;
	height:34px;
	font-size:12px;
	color:#ccc;
	line-height:34px;
	padding-left:10px;
	}
.a4-1 li:hover{background:#699f00;color:#fff;}
.top1{width:1000px;height:96px;background:#010101;margin:0 auto;padding-top:8px;}
.a5{width:978px;height:88px;border-radius:8px;border:1px solid #688a00;margin-left:10px;}
.a5 li{color:#ccc;background:url('../images/gg.png') no-repeat right;}
.a5 .a5-1{background:url(../images/logo.png) no-repeat 18px 18px;width:130px;height:30px;padding-left:18px;padding-top:58px;}
.a5-2 p{line-height:29px;width:40px;text-align:center;}
.a5 a{color:#ccc;font-size:12px;}
.a5 .oo{margin-left:12px;}
.a5-3 p{line-height:29px;width:115px;}
.a5-4 p{line-height:29px;width:97px;}
.a5-5 p{line-height:29px;width:185px;}
.a5 .a5-6 p{line-height:29px;width:172px;}
.a5 .a5-6{background:none;position:relative;}
.ico7{
	width:7px;
	height:7px;
	background:url(../images/ico-3.png) no-repeat;
	right:94px;
	top:64px;
	position:absolute;
	}
.ico8{
	width:7px;
	height:7px;
	background:url(../images/ico-3.png) no-repeat;
	right:36px;
	top:64px;
	position:absolute;
	}
.top2{
	width:980px;
	height:453px;
	margin:0 auto 48px;;
	padding:10px 10px 0;
	}
.top2-left{
	width:380px;
	height:446px;;
	margin-right:20px;
	}
.left1{
	height:32px;
	width:380px;
	border-bottom:2px solid #85ba4d;
	padding-top:23px;
	font-size:21px;
	font-family:'黑体';
	color:#699f00;
	}
.left2{
	margin-left:8px;
	font-size:12px;
	margin-top:9px;
	}
.left3{
	width:38px;
	height:26px;
	border:1px solid #e9e9e9;
	border-radius:4px;
	padding-left:28px;
	line-height:26px;
	font-size:12px;
	color:#333;
	background:url(../images/star.png) no-repeat 8px;
	}
.left1 .a{color:#699f00;}
h3{font-size:18px;color:#333;font-weight:normal;padding-left:20px;margin-top:23px;}
.vv{padding-left:22px;font-size:14px;background:url(../images/vv.png) no-repeat left;margin-top:19px;height:14px;}
.vv a{color:#333;}
.left-1{
	width:180px;
	height:135px;
	border-bottom:1px solid #ebebeb;
	margin-top:18px;
	}
.left-1 p{height:34px;background:#f2f2f2;padding-left:5px;color:#333;font-size:12px;line-height:34px;}
.left-1 img{display:block;}
.top2-left2{
	width:380px;
	height:453px;
	margin-right:20px;
	}
.ll{display:block;margin:15px 0;}
.top2-left3{
	width:180px;
	height:453px;
	}
.left-2 img{display:block;}
.left-2{
	width:180px;
	height:135px;
	border-bottom:1px solid #ebebeb;
	margin-top:15px;}
.left-2 p{height:34px;background:#f2f2f2;padding-left:5px;color:#333;font-size:12px;line-height:34px;}
.top-1{
	width:980px;
	height:389px;
	margin:0 auto;
	}
.top-left{
	width:780px;
	height:389px;
	margin-right:20px;
	}
.top-left2{
	height:39px;
	border-bottom:2px solid #85ba4d;
	font-family:'黑体';
	margin-bottom:25px;
	}	
.ff0{background:url(../images/tit.png) no-repeat left;width:15px;height:27px;}
.ff{padding-left:5px;font-size:26px;color:#699f00;}	
.ff1{padding-left:17px;font-size:12px;color:#699f00;padding-top:13px;}
.ff2{padding-left:34px;font-size:12px;color:#333;line-height:39px;}	
.ico9{width:31px;height:14px;display:inline-block;background:url(../images/yy.png) no-repeat left;vertical-align:middle;}	
.ff3 img{margin-left:6px;}	
.ff4{font-size:12px;color:#333;line-height:39px;}		
.top-left3{width:780px;height:325px;}	
.top-left4{width:380px;height:324px;border-bottom:1px solid #ededed;margin-right:20px;}	
.top-left4 p{height:27px;background:#f2f2f2;padding-left:5px;color:#333;line-height:27px;}	
.top-left4 img{display:block;}	
.top-left4 .ii{color:#999;border-bottom:1px solid #ebebeb;}
.top-left5{width:380px;height:325px;}		
.top-left6 p{height:27px;background:#f2f2f2;padding-left:5px;color:#333;line-height:27px;}	
.top-left6 img{display:block;}	
.top-left6 .ii{color:#999;}	
.top-left6{width:180px;height:154px;border-bottom:1px solid #ebebeb;margin-right:20px;}	
.top-left7{margin-right:0;}		
.bb{margin-top:15px;}	
.top-left1{
	width:180px;
	height:389px;
	}		
.mmm{
	width:170px;
	height:223px;
	border-bottom:1px solid #ededed;
	padding:0 5px;
	background:#f2f2f2;
	}	
.mmm p{height:37px;color:#333;line-height:37px;font-size:12px;text-align:center;border-bottom:1px dotted #ededed;}	
.pp{display:block;}	
.hh{height:34px;padding-left:16px;background:url(../images/aa.png) no-repeat 6px;line-height:34px;}
.top-2{width:980px;height:32px;border-bottom:1px solid #e1e1e1;margin:23px auto 15px;font-size:21px;color:#699f00;}
.ss{width:33px;height:19px;display:inline-block;background:url(../images/rm-only-iqiyi.png) no-repeat;margin-left:4px;margin-right:12px;}
.vvv{font-size:12px;font-family:'黑体';}
.top-3{width:980px;height:155px;margin:0 auto;}
.ggg{width:180px;height:154px;border-bottom:1px solid #ebebeb;background-color:#f2f2f2;margin-right:20px;}
.top-3 input{font-size:11px;color:#699f00;background:#fff;border:1px solid #e7e7e7;outline:none;line-height:19px;height:19px;width:54px;text-align:center;margin:0 5px 5px;}
.top-3 img{display:block;}
.top-3 p{font-size:12px;color:#333;padding-right:18px;margin-top:5px;text-align:left;}
.hhh{margin-right:0;}
.sss{margin-left:10px;}
.main{margin:50px auto 40px;width:980px;height:100px;}
.main-1{width:980px;height:46px;margin:0 auto;}
.main-1 .top-left2{height:46px;}
.main-1 li{padding-top:10px;}
.main-1 .ff3{padding-top:0;}
.main-1 .ff1{padding-top:23px;}
.main-1 .ff0{padding-top:23px;}
.main-2{width:980px;height:325px;margin:25px auto 0;}
.main-right{width:580px;height:325px;}
.ooo{margin-top:15px;}
.main-3{width:980px;height:38px;margin:49px auto 0;}
.bbb{width:180px;height:155px;font-size:22px;color:#fff;background:#76b300;text-align:center;line-height:155px;font-family:'黑体';margin-top:15px;}
.main-4{margin:62px auto 50px;width:982px;height:140px;border:1px solid #8ac024;padding:10px 0;position:relative;}
.main-left{width:170px;height:140px;margin-right:20px;}
.xxx{margin-right:0;}
.h1{width:84px;height:23px;border-radius:5px 5px 0 0;font-size:11px;color:#fff;text-align:center;line-height:23px;background:#8ac024;position:absolute;top:-23px;left:-1px;}
.ico10{width:26px;height:140px;background:url(../images/arrow-left-hover.png) no-repeat left;}
.ico11{width:26px;height:140px;background:url(../images/arrow-right-hover.png) no-repeat right;}
.zzz{height:619px;}
.jjj{height:289px;}
.ttt{width:180px;height:20px;margin-bottom:13px;font-size:12px;color:#333;line-height:20px;background:url(../images/aaa.png) no-repeat right;}
.ttt span{display:inline-block;width:20px;height:20px;background:#75b100;color:#fff;font-size:10px;text-align:center;line-height:20px;margin-right:5px;border-radius:5px;}
.ppp{margin-top:8px;}




